<?xml version="1.0" encoding="utf-8"?>
<manifest package="com.quorg"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- access internet permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- read internal and external storage -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <!-- access network state -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>

    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <permission
        android:name=".permission.C2D_MESSAGE"
        android:protectionLevel="signature"/>

    <uses-permission android:name=".permission.C2D_MESSAGE"/>


    <application
        android:name="com.quorg.utility.Golly"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity android:name="com.quorg.SplashScreenActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.quorg.NavigationDrawerActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"
                  android:windowSoftInputMode="stateHidden"/>
        <activity android:name="com.quorg.DashBoard"
                  android:screenOrientation="portrait"
                  android:theme="@style/AppTheme"
                  android:windowSoftInputMode="stateHidden"/>

        <activity android:name="com.quorg.ProfileScreen"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden"/>


        <activity android:name="com.quorg.Loginscreen"
                  android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
                  android:windowSoftInputMode="stateHidden"/>
        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
        android:name="com.google.android.gms.version"
        android:value="@integer/google_play_services_version" />

    </application>

</manifest>